<html lang="en">
    <head>
        <title>Shortening URLs since 2025</title>
    </head>
    <body>
        <h1>Shortening URL Not Found (aka 404)</h1>
        <p><a href="/">Home</a></p>
        <iframe width="494" height="878" src="https://www.youtube.com/embed/4pX1HEo8BMM" title="Where does the error 404 comes from?" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </body>
</html>